{%extends "base.html"%}
{%block body%}
<div class="prof-container">
    <div class="container">
        <h1>{{name}} - rating details for teacher</h1>
        <h2>Rate - {{rate}}</h2>
        <h3>Date - {{date}}</h3>
        <h3>comment - {{comment}}</h3>
        <a href="/myclasses/each/student/{{student_id}}/{{user_id}}" class="btn btn-primary">Back</a>
        <a href="/myclasses/each/student/rating/delete/{{rate_id}}/{{user_id}}" class="btn btn-danger">Delete</a>
    </div>
</div>
</div>
{%endblock%}
