{% extends "base.html" %}
{% block body %}
<div class="prof-container">

<div class="container mt-5">
    <h1>Sign up</h1>
    <form method="post">
        <input type="text" name="surname" class="form-control" placeholder="Enter surname"><br>
        <input type="text" name="name" class="form-control" placeholder="Enter name"><br>
        <input type="text" name="fatname" class="form-control" placeholder="Enter fatname"><br>

        <input type="password" name='password_1' class="form-control" placeholder="Enter password"><br>
        <input type="password" name='password_2' class="form-control" placeholder="Repeat password"><br>
        {% if password_mismatch %}
        <p class="red-text">Password mismatch</p>
        {% endif %}
        <input type="radio" id="student" name="type_user" value="student">
        <label for="option1">I'm Student</label>

        <input type="radio" id="teacher" name="type_user" value="teacher">
        <label for="option2">I'm Teacher</label>

        <br><br>
        {% if clear_fields %}
        <p class="red-text">All fields must be completed</p>
        {% endif %}
        {% if user_exists %}
        <p class="red-text">A user with the same name already exists</p>
        {% endif %}
        <input type="submit" class="btn btn-primary" value="Sign up">
    </form>
</div>
</div>
{% endblock %}